:root{
    --orange-050: #ffe8d9;
    --orange-100: #ffd0b5;
    --orange-200: #ffb088;
    --orange-300: #ff9466;
    --orange-400: #f9703e;
    --orange-500: #f35627;
    --orange-600: #d33a11;
    --orange-700: #c52707;
    --orange-800: #ad1d07;
    --orange-900: #841003;

    --grey-050: #f5f7fa;
    --grey-100: #e4e7eb;
    --grey-200: #cbd2d9;
    --grey-300: #9aa5b1;
    --grey-400: #7b8794;
    --grey-500: #616e7c;
    --grey-600: #52606d;
    --grey-700: #3e4c59;
    --grey-800: #323f4b;
    --grey-900: #1f2933; 
}


html{
    font-size: 150%;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    line-height: 1.4;
}

body{
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.6rem;
    overflow: hidden;
}

.calculator-display{
    background-color: var(--grey-900);
    color: var(--grey-050);
    width: 16.25rem;
    padding: 0.75rem 1rem;
    text-align: right;
    font-size: calc(1rem * 1.2 * 1.2);
}

button{
    background: none;
    padding: 1rem;
    border: 0.1px solid var(--grey-300);
    outline-style: none;
    background-color: #FFFF;
    font-size: 0.9rem;
}

button:focus{
    background-color: var(--grey-500);
}
.calculator-keys{
    background-color: var(--grey-200);
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas: 
        ". . . ."
        "sete oito nove igual"
        "quatro cinco seis igual"
        "um dois tres igual"
        "zero ponto limpar igual";
}


.um{
    grid-area: um;
}
.dois{
    grid-area: dois;
}
.tres{
    grid-area: tres;
}
.quatro{
    grid-area: quatro;
}
.cinco{
    grid-area: cinco;
}
.seis{
    grid-area: seis;
}
.sete{
    grid-area: sete;
}
.oito{
    grid-area: oito;
}
.nove{
    grid-area: nove;
}
.zero{
    grid-area: zero;
}
.ponto{
    grid-area: ponto;
}
.limpa{
    grid-area: limpar;
}

.igual{
    grid-area: igual;
    background-color: var(--orange-400);
    font-size: 1.35rem;
    font-weight: 600;
}
.igual:hover{
    background-color: var(--orange-500);
}

.mais, 
.menos,
.vezes,
.divide{
    background-color: var(--grey-200);
}